.toggle_button {
  background: transparent;
  border: none;
  height: 24px;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-around;
  display: flex;
}

.toggle_button:focus {
  outline: none;
}

.toggle_button_line {
  width: 30px;
  height: 2px;
  background: white;
}
